{{> welcome-menu}}
<!-- Main template -->
<div class="title p-3 is-flex" style="position: relative; margin-top: 3%">
  <img src="https://i.imgur.com/KYDz3sh.png" alt="" style="width: 100%; height: auto;">
</div>



<!-- welcome-menu partial -->
<div class="section" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white; margin-top:3%">
  <p style="font-size: 24px; text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">Login or signup to explore the universe of Avatar!</p>
</div>
