<form class="box" action="/nation/{{nation._id}}/addlore" method="POST">
  <label>Enter Lore Details</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter book number" name="bookno">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter characters present" name="charactersinv">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter location (use map guides)" name="location">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter lore" name="lore">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Lore</button>
</form>
