<form action="/admin/dashboard/addnation" method="POST">
  <div class="field">
    <label class="label">Name of Nation</label> <input class="input" type="text" placeholder="Enter nation name" name="title" required>
  </div>
  <button class="button is-primary" style="margin-bottom: 3%;">Add Nation</button>
</form>
