<nav class="navbar">
  <div class="navbar-brand">
    {{> avatar-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="admin-dashboard" class="button" href="/admin/dashboard"> Dashboard </a>
          <a id="" class="button" href="/admin/users">Manage Users</a>
          <a id="logout" class="button" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>
